.DS_Store

#----------------------------------------------------------------------------------------
# backend
#----------------------------------------------------------------------------------------
# dependencies
/y4project-backend/node_modules

# misc
/y4project-backend/.env
/y4project-backend/credentials.json

#----------------------------------------------------------------------------------------
# frontend
#----------------------------------------------------------------------------------------
# dependencies
/y4project-frontend/node_modules