.DS_Store

#----------------------------------------------------------------------------------------
# server
#----------------------------------------------------------------------------------------
# dependencies
/server/node_modules/

#logs
/server/logs
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
/server/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
/server/pids
/server/*.pid
/server/*.seed
/server/*.pid.lock

# Optional eslint cache
/server/.eslintcache

# Output of 'npm pack'
/server/*.tgz

# misc
/server/.env
/server/credentials.json

#----------------------------------------------------------------------------------------
# client
#----------------------------------------------------------------------------------------
# dependencies
/client/node_modules
/client/.pnp
/client.pnp.js

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*