:root {
    --article-bg-color: #FAFAFA;
    --article-text-color: #151515;
    --article-line-height: 1.5;
    --article-letter-spacing: 0px;
    --article-font-family: 'PT Serif';
    --article-text-align: left;

    --min-font-size: 14;
    --max-font-size: 20;
    --min-vw: 320;
    --max-vw: 1140;
    --min-ratio: 1.2;
    --max-ratio: 1.25;
}

:root {
    --fluid-screen: 100vw;
    --fluid-bp: calc( ( var(--fluid-screen) - ( (var(--min-vw) / 16) * 1rem ) ) / ( (var(--max-vw) / 16) - ( var(--min-vw) / 16 ) ) );
}

@media screen and (min-width: 1140px) {
    :root {
        --fluid-screen: calc( var(--max-vw) * 1px );
    }
}

:root {
    --min-scale-0: var(--min-ratio);
    --min-scale-1: var(--min-scale-0) * var(--min-ratio);
    --min-scale-2: var(--min-scale-1) * var(--min-ratio);
    --min-scale-3: var(--min-scale-2) * var(--min-ratio);
    --min-scale-4: var(--min-scale-3) * var(--min-ratio);
    --min-scale-5: var(--min-scale-4) * var(--min-ratio);
    --min-scale-6: var(--min-scale-5) * var(--min-ratio);

    --max-scale-0: var(--max-ratio);
    --max-scale-1: var(--max-scale-0) * var(--max-ratio);
    --max-scale-2: var(--max-scale-1) * var(--max-ratio);
    --max-scale-3: var(--max-scale-2) * var(--max-ratio);
    --max-scale-4: var(--max-scale-3) * var(--max-ratio);
    --max-scale-5: var(--max-scale-4) * var(--max-ratio);
    --max-scale-6: var(--max-scale-5) * var(--max-ratio);

    --min-font-size-0: (var(--min-font-size)) / 16;
    --min-font-size-1: (var(--min-font-size) * var(--min-scale-0)) / 16;
    --min-font-size-2: (var(--min-font-size) * var(--min-scale-1)) / 16;
    --min-font-size-3: (var(--min-font-size) * var(--min-scale-2)) / 16;
    --min-font-size-4: (var(--min-font-size) * var(--min-scale-3)) / 16;
    --min-font-size-5: (var(--min-font-size) * var(--min-scale-4)) / 16;
    --min-font-size-6: (var(--min-font-size) * var(--min-scale-5)) / 16;

    --max-font-size-0: (var(--max-font-size)) / 16;
    --max-font-size-1: (var(--max-font-size) * var(--max-scale-0)) / 16;
    --max-font-size-2: (var(--max-font-size) * var(--max-scale-1)) / 16;
    --max-font-size-3: (var(--max-font-size) * var(--max-scale-2)) / 16;
    --max-font-size-4: (var(--max-font-size) * var(--max-scale-3)) / 16;
    --max-font-size-5: (var(--max-font-size) * var(--max-scale-4)) / 16;
    --max-font-size-6: (var(--max-font-size) * var(--max-scale-5)) / 16;


    --font-size-0: calc(((var(--min-font-size-0) * 1rem) + (var(--max-font-size-0) - var(--min-font-size-0)) * var(--fluid-bp))); /* <p> */
    --font-size-1: calc(((var(--min-font-size-1) * 1rem) + (var(--max-font-size-1) - var(--min-font-size-1)) * var(--fluid-bp))); /* <h6> */
    --font-size-2: calc(((var(--min-font-size-2) * 1rem) + (var(--max-font-size-2) - var(--min-font-size-2)) * var(--fluid-bp))); /* <h5> */
    --font-size-3: calc(((var(--min-font-size-3) * 1rem) + (var(--max-font-size-3) - var(--min-font-size-3)) * var(--fluid-bp))); /* <h4> */
    --font-size-4: calc(((var(--min-font-size-4) * 1rem) + (var(--max-font-size-4) - var(--min-font-size-4)) * var(--fluid-bp))); /* <h3> */
    --font-size-5: calc(((var(--min-font-size-5) * 1rem) + (var(--max-font-size-5) - var(--min-font-size-5)) * var(--fluid-bp))); /* <h2> */
    --font-size-6: calc(((var(--min-font-size-6) * 1rem) + (var(--max-font-size-6) - var(--min-font-size-6)) * var(--fluid-bp))); /* <h1> */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
    body {
        font-size: var(--min-font-size)!important;
    }
}

@media screen and (min-width: 1824px) {
    body {
        font-size: var(--article-max-font-size)!important;
    }
}

/********** Layout **********/
div#root {
    margin: var(--spacing-09) 0.938rem;
}

main.authentication-form-container {
    margin: 0 auto;
    max-width: calc(25rem + 1vw);
}

/********** Typography **********/
h1,
h2,
h3 {
    font-weight: 600;
}

h4,
h5,
h6 {
    font-weight: 500;
}

/********** Links **********/
a[role=button]:hover {
    text-decoration: none;
}

.form-link {
    font-weight: 600;
}

/********** Buttons **********/
.btn {
    font-weight: 600;
    font-size: var(--small-text-size);
    border-radius: 28px;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: 1px solid transparent;
}

.btn-md {
    padding: var(--spacing-03) calc(var(--spacing-03) * 2);
}

.btn-lg {
    padding: var(--spacing-05) calc(var(--spacing-05) * 2);
    font-size: var(--base-font-size);
}

#accessibility {
    position: fixed;
    right: 0.938rem;
    bottom: 0.938rem;
}

/********** Forms **********/
form.authentication-form h1,
form.authentication-form p {
    text-align: center;
}

section.danger-alert {
    margin-top: var(--spacing-08);
    padding: var(--spacing-05);
    border-radius: 4px;
}

section.danger-alert p {
    text-align: left;
    font-size: var(--small-text-size);
}

section.form-fields {
    margin-top: var(--spacing-10);
}

div.form-group:not(:first-of-type) {
    margin-top: var(--spacing-08);
}

form label, .dialog-form label {
    font-weight: 600;
    margin-bottom: var(--spacing-02);
    display: block;
}

form input.form-field {
    width: 100%;
    box-sizing: border-box;
    padding: var(--spacing-03) var(--spacing-02);
    border-radius: 4px;
    -webkit-transition: 180ms box-shadow ease-in-out;
    -moz-transition: 180ms box-shadow ease-in-out;
    -o-transition: 180ms box-shadow ease-in-out;
    transition: 180ms box-shadow ease-in-out;
}

form input.form-field:focus {
    outline: 2px solid transparent;
}

select.form-select {
    display: block;
    line-height: 1.3;
    padding: var(--spacing-03) var(--spacing-02);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
    /* -moz-appearance: none;
	-webkit-appearance: none;
	appearance: none; */
}

select.form-select::-ms-expand {
    display: none;
}

form button {
    margin: var(--spacing-10) auto;
    display: block;
}

form .error-msg {
    font-size: var(--small-text-size);
    text-align: left;
    margin-top: var(--spacing-01);
}

/********** Modal **********/
div.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 1010;
}

div.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

div.modal-default {
    width: calc(30rem + 1vw);
    max-width: 100%;
    height: calc(50rem + 1vw);
    max-height: 50%;
}

div.modal-sm {
    width: calc(24rem + 1vw);
    max-width: 100%;
    height: calc(40rem + 1vw);
    max-height: 60%;
}

div.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-08) calc(var(--spacing-08) / 2);
    overflow: auto;
}

/** To be changed **/
section.upload-form-container {
    max-width: 30rem;
}

table th {
    text-align: left;
    font-weight: 600;
}

.reading-container {
    display: flex;
    flex-wrap: wrap;
}

.reading-container aside {
    /* margin: calc(1rem / 2); */
    flex-basis: 18.75rem;
    flex-grow: 1;
    padding-right: 15px;
}

section.article-container {
    flex-basis: 0;
    flex-grow: 999;
    min-width: calc(50% - 1rem);
    /* padding: 1rem; */
    background-color: var(--article-bg-color);
    overflow: hidden;
}

article {
    max-width: 90ch;
    padding: 1rem!important;
}

article h1, article h2, article p, article strong, article em {
    font-family: var(--article-font-family);
    color: var(--article-text-color);
    letter-spacing: var(--article-letter-spacing);
    line-height: var(--article-line-height)!important;
}

article p {
    font-size: var(--font-size-0);
    text-align: var(--article-text-align);
}

article h1 {
    font-size: var(--font-size-6);
    margin: 0!important;
}

article h2 {
    font-size: var(--font-size-5);
    margin: calc(var(--article-line-height) * 1rem) 0 0 0;
}

article p:first-of-type {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

article p:not(:first-of-type) {
    margin-top: calc(var(--article-line-height) * 0.75rem);
    margin-bottom: 0!important;
}

article strong {
    font-weight: 600!important;
}

article em {
    font-style: italic;
}

div.settings-group {
    margin-top: var(--spacing-04);
}

.settings-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--spacing-03) 0;
}

input[type='color'] {
    width: 2rem;
    height: 2rem;
    border: 0;
    background: transparent;
    outline: 0;
}