*,
*::before,
*::after {
    box-sizing: border-box;
}

/********** Layout **********/
div#root {
    margin: var(--spacing-09) 0.938rem;
}

main.authentication-form-container {
    margin: 0 auto;
    max-width: calc(25rem + 1vw);
}

/********** Typography **********/
h1, h2, h3 { font-weight: 600; }
h4, h5, h6 { font-weight: 500; }

/********** Links **********/
a[role=button]:hover {
    text-decoration: none;
}

.form-link {
    font-weight: 600;
}

/********** Buttons **********/
.btn {
    font-weight: 600;
    font-size: var(--small-text-size);
    border-radius: 28px;
    cursor: pointer;
    -webkit-transition: ease-in-out 0.3s;
    -moz-transition: ease-in-out 0.3s;
    -o-transition: ease-in-out 0.3s;
    transition: ease-in-out 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: 1px solid transparent;
}

.btn-md {
    padding: var(--spacing-03) calc(var(--spacing-03) * 2);
}

.btn-lg {
    padding: var(--spacing-05) calc(var(--spacing-05) * 2);
    font-size: var(--base-font-size);
}

#accessibility {
    position: fixed;
    right: 0.938rem;
    bottom: 0.938rem;
}

/********** Forms **********/
form.authentication-form h1, p {
    text-align: center;
}

section.danger-alert {
    margin-top: var(--spacing-08);
    padding: var(--spacing-05);
    border-radius: 4px;
}

section.danger-alert p {
    text-align: left;
    font-size: var(--small-text-size);
}

section.form-fields {
    margin-top: var(--spacing-10);
}

div.form-group:not(:first-of-type) {
    margin-top: var(--spacing-08);
}

form label {
    font-weight: 600;
    margin-bottom: var(--spacing-02);
    display: block;
}

form input.form-field {
    width: 100%;
    box-sizing: border-box;
    padding: var(--spacing-03) var(--spacing-02);
    border-radius: 4px;
    -webkit-transition: 180ms box-shadow ease-in-out;
    -moz-transition: 180ms box-shadow ease-in-out;
    -o-transition: 180ms box-shadow ease-in-out;
    transition: 180ms box-shadow ease-in-out;
}

form input.form-field:focus {
    outline: 2px solid transparent;
}

form button {
    margin: var(--spacing-10) auto;
    display: block;
}

form .error-msg {
    font-size: var(--small-text-size);
    text-align: left;
    margin-top: var(--spacing-01);
}

/********** Modal **********/
div.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    z-index: 1010;
}

div.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

div.modal-default {
    width: calc(30rem + 1vw);
    max-width: 100%;
    height: calc(50rem + 1vw);
    max-height: 50%;
}

div.modal-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-08) calc(var(--spacing-08) / 2);
    overflow: auto;
}

div.modal-header h5 {
    text-align: center;
}