header.reading-customisation-menu {
    height: var(--dashboard-header-height);
    padding: var(--spacing-05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    border: 1px solid var(--subtle-border);
}

header.reading-customisation-menu button {
    font-size: var(--step--1)!important;
}

ul.centre-menu {
    list-style: none;
}

ul.centre-menu li {
    display: inline;
}

ul.centre-menu li:not(:last-of-type) {
    margin-right: var(--spacing-03);
}

.modal-grid {
    display: grid;
    grid-template-columns: max-content max-content;
    column-gap: var(--spacing-12);
}

.settings-form-group:not(:last-of-type) {
    margin-bottom: var(--spacing-06);
}

.settings-label {
    font-size: var(--step--1);
    margin-bottom: var(--spacing-03);
}

input[type='color'] {
    width: 2rem;
    height: 2rem;
    border: none;
    background: transparent;
    outline: none;
}

.settings-form-group select {
    display: block;
    line-height: 1.3;
    padding: var(--spacing-02);
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--slider-thumb);
    cursor: pointer;
    margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--slider-thumb);
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: var(--slider-thumb);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: var(--slider-track);
    border-radius: 4px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: var(--slider-track);
    border-radius: 4px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: var(--slider-filled-track);
    border-radius: 4px;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--accent-text);
}

input[type=range]::-ms-fill-upper {
    background: var(--slider-track);
    border-radius: 4px;
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--slider-track);
}